@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@900&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Dancing Script';
    font-family: 'Inter';

}

ul{
    display:flex;
    justify-content:flex-end;
    gap: 50px;
    color: var(--white);
    list-style-type: none;
    margin-right: 60px;
}
ul li a {
    color: white;
    text-decoration: none;
  }


video{
    position: absolute;
    padding: 0;
    margin: 0;
    object-fit: cover;
    z-index: -1;
    top: 0;
    width: 100%;
    height: auto;

}
:root
{
    --white:#f9fafc;
    --black:rgb(8, 8, 8);
    --Lead: rgb(54, 54, 54);
}




.tittle{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 350px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    color:var(--white);
    font-size: 79px;
    text-shadow: 10px 5px 10px var(--black); 
}

.Boton-Container{
    display:flex;
    justify-content: center;
    gap: 150px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    margin-top: 250px;

}

/*BTNES*/

.btn-places{
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 4px 1px 3px var(--black);
}

.btn-placefoot{
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow:4px 1px 3px var(--black);
}

.btn-regions{
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 3px 1px 5px var(--black);
}

    



